body {
    background: url(../img/bg.jpg) repeat 0 0 #000;
    text-transform: uppercase;
}
h1 {
    color: #fff;
    font-family: "Helvetica Neue";
    font-size: 50px;
    text-align: center;
}
section {
    width: 740px;
    margin: 10px auto;
    text-align: right;
    font-size: 0;
}
.colors {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 50%;
    display: inline-block;
}
li {
    border: 5px solid rgba(255, 255, 255, .05);
    border-radius: 5px;
    margin: 5px;
    height: 50px;
    width: 50px;
    display: inline-block;
}
.info {
    width: 50%;
    display: inline-block;
}
button {
    display: inline-block;
    margin-top: 10px;
    padding: 5px;
    width: 100px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .5);
}